.bg-green-dark{
    background-color: #2c8b2b;
    /*container mt-5*/ 
}
.bg-gray{
    
    background-color: #cccccc;

}
.bg-green-l{
    
    background-color: #4f9e01;

}
.margin-nav{
    margin-left:65px;
}

 